<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #191923">
    <div class="container">
        <a routerLinkActive="active" routerLink="/" class="navbar-brand">GIFLEX</a>
        <button class="navbar-toggler transale-middle" type="button " data-bs-toggle="collapse " data-bs-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav ">
            <ul class="navbar-nav ">
                <a routerLinkActive="active" routerLink="/characters" class="nav-link">Characters</a>
                <a routerLink="/login" class="nav-link">Login</a>
                <!-- <a routerLinkActive="active" routerLink="/add-character" class="nav-link">Add Character</a>-->
            </ul>
        </div>
    </div>
</nav>
<div id="navbar_line"></div>