<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-character-card [routerLink]="['/add-character',  character.id, character.name ,'edit']" [chara]="character">
            </app-character-card>
            <div class="col">
                <button class="btn btn-primary" type="button" [routerLink]="['/characters/artifact-set',  character.id, character.name]">Back</button>
            </div>
        </div>
        <div class="col-10">
            <form class="row g-3" #f="ngForm" (ngSubmit)="addArtifact()">
                <div class="col-md-6">
                    <div class="col-12">
                        <label for="type" class="col-form-label">Type:</label>
                        <select class="form-select" aria-label="Default select type" name="type" [(ngModel)]="artifact.artifactType">
                            <option selected>Select</option>
                            <option *ngFor="let type of type" [ngValue]="type.id">
                                {{type.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="set" class="col-form-label">Set:</label>
                        <select class="form-select" aria-label="Default select set" name="set" [(ngModel)]="artifact.artifactSetType">
                            <option selected>Select</option>
                            <option *ngFor="let set of set " [ngValue]="set.id">
                                {{set.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12 ">
                        <label for="substat " class="col-form-label ">Main Stat:</label>
                        <select class="form-select " aria-label="Default select set " name="mainstat " [(ngModel)]="artifact.mainstat ">
                            <option selected>Select</option>
                            <option *ngFor="let substat of substat" [ngValue]="substat.id">
                                {{substat.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="mainstat-value " class="col-form-label ">Value:</label>
                        <input class="active " class="form-control " [(ngModel)]="artifact.mainStatValue " type="text " name="mainstat ">
                    </div>
                </div>

                <div class="col-md-6 " id="substats ">
                    <h3>Substats:</h3>
                    <div class="col-md-6 ">
                        <label for="substat " class="form-label ">1:</label>
                        <select class="form-select " aria-label="Default select set ">
                            <option selected>Select</option>
                            <option *ngFor="let substat of substat ">
                                {{substat.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="mainstat-value " class="col-form-label ">Value:</label>
                        <!-- <input class="active " class="form-control " [(ngModel)]="artifact.mainstat " type="text " name="mainstat "> -->
                    </div>
                </div>

                <div class="col ">
                    <button id="btn-save " type="submit " [routerLink]="[ '/characters/artifact-set', character.id, character.name] " class="btn btn-primary " (click)="addArtifact() ">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>