<div class="container">
    <div class="row">
        <div class="col-mb-2">
            <app-character-card [chara]="chara"></app-character-card>
            <div class="col">
                <a class="btn btn-primary" type="button" [routerLink]="['/artifacts-set', chara.name]">Back</a>
            </div>
        </div>
        <div class="col-sm-6">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="mb-6">
                    <label for="disabledTextInput" class="form-label">Type</label>
                    <input class="form-control" disabled [(ngModel)]="artifact.type" id="disabled" type="text" name="type">
                </div>
                <div class="mb-6">
                    <label for="nome" class="form-label">Set</label>
                    <input class="active" class="form-control" [(ngModel)]="artifact.set" type="text" name="critRate" maxlength="6">
                </div>
                <div class="mb-6">
                    <label or="exampleInputEmail1" class="form-label">Main Stat</label>
                    <input class="active" class="form-control" [(ngModel)]="artifact.mainstat" type="text" name="critDmg" maxlength="6">
                </div>
                <app-add-substats></app-add-substats>

                <button id="btn-save" type="submit" [routerLink]="['/artifacts-set', chara.name]" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>