<h3>Artifact Set</h3>
<div class="row" style="min-height: 600px;">
    <div class="col-2">
        <div class="item" id="item">
            <app-character-card [routerLink]="['/add-character', chara.name ,'edit']" [chara]="chara">
            </app-character-card>
            <div class="character-card-status">
                <p class="card-text"> Level: {{ chara.level }}</p>
                <p class="card-text"> Crit Rate: {{ chara.critRate }}</p>
                <p class="card-text"> Crit DMG: {{ chara.critDmg }}</p>
                <a class="btn btn-primary" [routerLink]="['/add-character', chara.name ,'edit']">Edit</a>
            </div>
        </div>
    </div>
    <div id="artifacts-tray" class="col-9">
        <app-artifacts-tray></app-artifacts-tray>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <div class="float-left">
            <a class="btn btn-primary" [routerLink]="['/characters']">Back</a>
        </div>
        <div class="float-right">
            <a class="btn btn-primary" [routerLink]="['/select-image', chara.name]">Generate Showcase</a>
        </div>
    </div>
</div>