/* .artifact-set {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

.character-status-card {
    display: flex-start;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    flex-direction: row;
}

p.card-text {
    font-size: 16px;
    line-height: 131.7%;
}



.artifacts {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    margin: auto;
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#back {
    margin-left: 29px;
    margin-top: 231px;
}

#artifacts-tray {
    position: relative;
    width: 1109px;
    height: 325px;
} */

.character-card-status {
    position: relative;
    width: 151px;
    height: 175px;
    background: #27263A;
    border-radius: 12px;
    padding-top: 7px;
    text-align: center;
    margin-left: 16px;
}