.character-card-status {
    position: relative;
    width: 151px;
    height: 175px;
    background: #27263A;
    border-radius: 12px;
    padding-top: 7px;
    text-align: center;
    margin-left: 16px;
}