<h3>Artifact Set</h3>
<section class="artifact-set">

    <div class="character-status-card">
        <div class="item" id="item">
            <app-character-card [routerLink]="['/add-character', chara.name ,'edit']" [chara]="chara"></app-character-card>
            <div class="character-card-status">
                <p class="card-text"> Level: {{ chara.level }}</p>
                <p class="card-text"> Crit Rate: {{ chara.critRate }}</p>
                <p class="card-text"> Crit DMG: {{ chara.critDmg }}</p>
                <a class="btn btn-primary" [routerLink]="['/add-character', chara.name ,'edit']">Edit</a>
            </div>
        </div>
    </div>

    <section class="artifacts">
        <div class="artifact">
            <div class="artifact-box">
                <app-artifacts-tray></app-artifacts-tray>
            </div>
        </div>
    </section>

</section>
<section class="buttons">
    <div class="item">
        <a class="btn btn-primary" id="back" [routerLink]="['/characters']">Back</a>
    </div>
    <div class="item">
        <a class="btn btn-primary" [routerLink]="['/select-image', chara.name]">Generate Showcase</a>
    </div>
</section>