.register-box {
    width: 447px;
    align-items: flex-end;
    padding: 33px;
    gap: 29px;
    border-radius: 13px;
    align-items: baseline;
    position: relative;
    right: -153px;
}

.row {
    justify-content: space-between;
}

.line {
    height: 2px;
    background: rgba(157, 122, 255, 0.33);
    margin-top: 10px;
    margin-bottom: 10px;
}

.md-4 {
    padding: 21px;
}

.col {
    margin: 5px;
}

#fourpieces {
    height: 150px;
    width: 400px;
}

#twopieces {
    height: 75px;
    width: 400px;
}

.desc {
    margin-top: 16px;
}