<div class="container">
    <div class="row">

        <!-- list -->
        <div class="list-box">
            <div class="row md-2">
                <div class="col">
                    <h2 class="md">Artifact Set List</h2>
                    <div class="line"></div>
                </div>
            </div>

            <div class="item" *ngFor="let artifact of sets; let i = index">
                <div class="delete-icon"><img src="../../../../../../assets/img/icons/icons8-delete-24.png" (click)="deleteSet(artifact.id)" /></div>

                <h3 class="name" [attr.id]="'heading' + i">
                    <button class="accordion-button" type="button" (click)='openAccordion[i] = !openAccordion[i]' data-bs-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                        {{ artifact.name }}
                    </button>
                </h3>

                <div class="edit-icon"><img src="../../../../../../assets/img/icons/84380.png" (click)="onClick(artifact)" /></div>

                <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [class.show]='openAccordion[i]' [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="desc">
                            <div>Two-pieces: {{ artifact.twopieces }}</div>
                            <div class="line"></div>
                            <div>Four-pieces: {{ artifact.fourpieces }}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- add -->
        <div class="row">
            <div class="col">
                <div class="register-box">

                    <div class="row md-2">
                        <div class="col">
                            <h2 class="md">Register Artifact Set</h2>
                            <div class="line"></div>
                        </div>
                    </div>

                    <div class="set-form">
                        <form ngNativeValidate #f="ngForm">
                            <div class="row md-2">
                                <div class="col-5">
                                    <label for="name" class="form-label">Name:</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input [(ngModel)]="artifactSetType.name" type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                </div>
                            </div>


                            <div class="row  md-2">
                                <div class="col-5">
                                    <h3>Description:</h3>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="row md-2">
                                <div class="col-5">
                                    <label for="twopieces" class="form-label">2-Piece Bonus:</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input [(ngModel)]="artifactSetType.twopieces" type="text" class="form-control" id="twopieces" name="twopieces" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row md-2">
                                <div class="col-5">
                                    <label for="fourpieces" class="form-label">4-Piece Bonus:</label>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <textarea [(ngModel)]="artifactSetType.fourpieces"class="form-control" id="fourpieces" rows="3"></textarea> -->
                                        <input [(ngModel)]="artifactSetType.fourpieces" type="text" class="form-control" id="fourpieces" name="fourpieces" required>
                                    </div>
                                </div>
                            </div>


                            <div class="row md-2">
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-primary" id="register" (click)="clear()">Cancel</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!-- <button id="btn-save " type="submit" class="btn btn-primary " (click)="addArtifact() ">Save</button> -->
                                        <!-- <button *ngIf="isEdit" id="btn-save " type="submit " [routerLink]="[ '/characters'] " class="btn btn-primary " (click)="editSet()">Edit</button> -->
                                        <button *ngIf="!isEdit" type="submit" (click)="addSet()" class="btn btn-primary">Register</button>

                                        <button *ngIf="isEdit " type="submit " (click)="editSet()" class="btn btn-primary ">Edit</button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>