<div class="container">
    <div class="image">
        <img src="../../../../../../assets/img/showcase/{{ chara.name }}/{{ image.id }}.jpg">
    </div>
    <section class="showcase-data">
        <div class="character-status">
            <ul class="list-group">
                <li class="list-group-item" id="rate">
                    <div class="rate">
                        <p>CRIT Rate: {{ chara.critRate }}</p>
                    </div>
                </li>
                <li class="list-group-item" id="dmg">
                    <div class="damage">
                        <p>CRIT DMG: {{ chara.critDmg }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div id="artifacts-tray">
            <section class="artifacts">
                <div class="artifact">

                    <app-showcase-artifact></app-showcase-artifact>

                </div>
            </section>
        </div>
    </section>
    <a class="btn btn-primary" [routerLink]="['/select-image', chara.name]">Back</a>
</div>