<div class="container">
    <div #screen>
        <section class="showcase-data">
            <div class="image">
                <img src="../../../../../../assets/img/showcase/{{character.name}}/{{image.id}}.jpg">
            </div>
            <div class="character-status">
                <ul class="list-group">
                    <li class="list-group-item" id="rate">
                        <div class="rate">
                            <p>CRIT Rate: {{ character.critRate }}</p>
                        </div>
                    </li>
                    <li class="list-group-item" id="dmg">
                        <div class="damage">
                            <p>CRIT DMG: {{ character.critDmg }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <app-showcase-artifact></app-showcase-artifact>
            </div>
        </section>
    </div>
    <div class="row" id="buttons">
        <div class="col">
            <a class="btn btn-primary" [routerLink]="['/select-image', character.id, character.name]">Back</a>
        </div>
        <div class="col" id="downloadButton">
            <a class="btn btn-primary" (click)="downloadImage()">Download Image</a>
        </div>
    </div>
</div>

<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>