.card {
    background-color: #27263A;
    width: 204px;
}

.card-body {
    border: 1px solid #13121d;
}

.set {
    font-size: 17px;
    line-height: 42px;
    letter-spacing: -0.02em;
    position: relative;
}

.mainstat {
    background: rgba(157, 122, 255, 0.33);
    position: relative;
    top: -18px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: -36px;
    color: #FFFFFF;
}

.substat {
    margin-bottom: -10px;
}

.artifact-set-type {
    font-size: 16px;
    line-height: 131.7%;
    position: relative;
    top: -59px;
    left: 72px;
}

.artifact {
    position: relative;
    width: 204px;
    height: 224px;
    margin: 27px;
    background: #27263A;
    border-radius: 12px;
}

.artifact-box {
    text-align: center;
    position: relative;
    top: -56px;
}