.card-body {
    border: 1px solid #13121d;
}

.type {
    font-size: 16px;
    line-height: 131.7%;
    text-align: center;
}

.set {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -0.02em;
    position: relative;
}

.mainstat {
    background: rgba(157, 122, 255, 0.33);
    color: #FFFFFF;
    font-size: 16px;
}

.substat {
    padding: 5px;
    font-size: 17px;
}

.artifact-set-type {
    font-size: 16px;
    line-height: 131.7%;
}

.card {
    position: relative;
    width: 204px;
    height: 224px;
    margin: 27px;
    background: #27263A;
    border-radius: 12px;
    height: 218px;
}

.artifact-box {
    text-align: center;
}

.card:hover {
    border-color: #ae5eff;
}

.plus-h {
    position: relative;
    width: 100px;
    height: 15px;
    left: 45px;
    top: 80px;
    background: #424252;
}

.add-box {
    margin: 47px;
}

.plus-v {
    position: relative;
    width: 100px;
    height: 15px;
    left: 48px;
    top: 92px;
    background: #424252;
    transform: rotate(90deg);
}