<div class="row">
    <div *ngFor="let artifact of artifacts" class="col-3">
        <div class="type">{{ artifact.type }} &nbsp;</div>
        <div class="card">
            <div class="artifact-box" [routerLink]="['/artifact', character.id, character.name, artifact.id, 'edit']">
                <div class="null" *ngIf="artifact.id == null">
                    <div [routerLink]="['/artifact', 'add']"></div>
                </div>
                <div class="set">{{ artifact.set }}</div>

                <div class="mainstat">{{ artifact.mainstat }}</div>

                <div class="substats">
                    <div class="substat">{{ artifact.substats[0] }}</div>
                    <div class="substat">{{ artifact.substats[1] }}</div>
                    <div class="substat">{{ artifact.substats[2] }}</div>
                    <div class="substat">{{ artifact.substats[3] }}</div>
                </div>
            </div>
        </div>
    </div>
</div>