<div class="card">
    <div *ngFor="let artifact of artifacts">
        <div class="card-body" [routerLink]="['/artifact', chara.name , artifact.id , 'edit']">
            <div class="null" *ngIf="artifact.id == null">
                <div [routerLink]="['/artifact', 'add']"></div>
            </div>
            <p>{{ artifact.set }}</p>
            <p>{{ artifact.type }}</p>
            <p>{{ artifact.mainstat }}</p>
            <p>{{ artifact.substats[0] }}</p>
            <p>{{ artifact.substats[1] }}</p>
            <p>{{ artifact.substats[2] }}</p>
            <p>{{ artifact.substats[3] }}</p>
        </div>
    </div>
</div>