<div class="row">
    <div *ngFor="let artifact of character.equippedArtifacts; let i = index" class="col-3">
        <div class="type">{{ artifact.artifactType.name }} &nbsp;</div>
        <div class="card" [routerLink]="['/artifact', character.id, character.name, artifact.id, 'edit']">
            <div class="artifact-box">
                <div class="set">{{ artifact.artifactSetType.name }}</div>
                <div class="mainstat">{{ artifact.mainstat.name }} {{ artifact.mainStatValue }}</div>

                <div class="substats">
                    <ng-container *ngFor="let artifactSubstat of artifact.artifactSubstats">
                        <div class="substat">{{ artifactSubstat.substat!.name }} {{ artifactSubstat.substatValue }}</div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <span *ngIf="counter < 5">
        <div>
            <a class="btn btn-primary" [routerLink]="['/artifact', character.id, character.name, 'add']">add</a>
        </div>
    </span>

</div>