/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Merriweather", serif;
    font-weight: 700;
    text-align: left;
    margin: 0;
    font-size: 115%;
    background: #121212;
    overflow-wrap: anywhere;
    color: #d9d9d9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 26px;
}

p {
    font-size: 18px;
    font-family: "Merriweather", serif;
}

a {
    font-family: "Merriweather", serif;
}

#main.container {
    background: #191923;
    min-height: 775px;
    margin-top: 2%;
    border-radius: 14px;
    padding: 18px 18px 18px 46px;
}