/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "ja-jp";
    src: local("ja-jp") url(./assets/fonts/ja-jp.ttf) format("truetype");
}

:root {
    --background: #121212;
    --main: #191923;
    --primary: #9075f3;
    --sub: #27263a;
    --character_name: #c79823;
    --text_sub: rgba(255, 255, 255, 0.57);
    --accent: ##7700ff;
}

body {
    /* font-family: "Merriweather", serif; */
    font-family: 'ja-jp', sans-serif;
    /* font-weight: 900; */
    text-align: left;
    margin: 0;
    font-size: 115%;
    background: #121212;
    overflow-wrap: anywhere;
    color: #d9d9d9;
}

h1 {
    font-weight: 900;
    font-size: 32px;
}

h2 {
    font-weight: 900;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 18.72px;
}

h4 {
    font-weight: 700;
    font-size: 16px;
}

h5 {
    font-weight: 400;
    font-size: 13.28px;
}

h6 {
    font-weight: 900;
    font-size: 10.72px;
}

h1,
h2,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
}

p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Merriweather", serif; */
}

a {
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Merriweather", serif; */
}

#main.container {
    background: #191923;
    min-height: 775px;
    margin-top: 2%;
    border-radius: 14px;
    padding: 18px 18px 18px 46px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1372px;
    }
}


/* custom form */

.form-control,
.list-group-item,
.page-link {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #232231;
}

.form-control:active,
.form-control[readonly] {
    background-color: #232231;
}

input {
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
}

input:focus {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7700ff;
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
}

.form-select {
    background: #27263A;
    padding: 10px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
    border-radius: 6px;
}

select:focus {
    box-shadow: 0 0 0 2px #7700ff;
}

input[type=text],
input[type=number],
input[type=password],
input[type=textarea] {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
    border-radius: 6px;
}

input[type=text]:active,
input[type=number]:active,
input[type=password]:active,
input[type=textarea]:active {
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
    border: 0;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=textarea]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #7700ff;
    background-color: #27263A;
    color: rgba(255, 255, 255, 0.57);
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: -internal-light-dark(rgba(255, 255, 255, 0.57), #7700ff) !important;
    color: -internal-light-dark(rgba(255, 255, 255, 0.57), #27263A) !important;
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #7700ff;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.57);
    -webkit-box-shadow: 0 0 0px 1000px #27263A inset;
    box-shadow: 0 0 0px 1000px #27263A inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control:valid {
    background-color: #27263A!important;
}


/* custom primary buttons */

.btn-primary {
    color: #f0f0f0;
    font-weight: 900;
    background-color: #9D75F3;
    border-color: #9075f3;
    border-radius: 23px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.btn-primary:hover {
    color: #212529;
    background-color: #9075f3;
    border-color: #7700ff;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .1rem #7700ff
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529;
    background-color: #cebaf9;
    border-color: #9075f3
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #cebaf9;
    border-color: #9075f3
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #664c9e
}

.btn-outline-primary {
    color: #9075f3;
    background-color: transparent;
    background-image: none;
    border-color: #9075f3
}

.btn-outline-primary:hover {
    color: #222;
    background-color: #7700ff;
    border-color: #9075f3
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem #664c9e
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #cebaf9;
    border-color: #9075f3
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #664c9e
}